<p id="notice"><%= notice %></p>

<p>
  <b>Path:</b>
  <%= @page.path %>
</p>

<p>
  <b>Orig url:</b>
  <%= @page.orig_url %>
</p>

<p>
  <b>Source:</b>
  <%= @page.source %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
